th {
    background-color: darkgreen;
    color: rgb(215, 255, 175);
    border: 2px solid black;
}
td {
    padding: 10 px;
}
table, tr, td {
    border: 2px solid black;
    border-collapse: collapse;
    color: rgb(90, 10, 10);
}
#Landmark {
    width: 25%;
}
#Significance {
    width: 40%;
}
tr:hover {
    background-color: #f5f5f5;
}
