body {
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    align-items: center;
}
h2 {
    background-color: rgb(255, 150, 171);
    color: crimson;
    padding: 5px;
}
tr, td, th {
    padding: 10px;

}
table {
    border: 1px solid crimson;
    
}
input, textarea, select {
    width: 200px;
    margin-bottom: 20px;
}
label {
    display: block;
}
input[type="submit"] {
    background-color: crimson;
    color: rgb(255, 150, 171);
    width: 200px;
    padding: 5px;
}
input[type="submit"]:hover {
    background-color: rgb(122, 17, 38);
    color: crimson;
}
a {
    background-color: rgb(255, 209, 218);
    text-decoration: none;
    color: rgb(231, 93, 121);
}
img {
    box-shadow: 3px 3px 1px #ccc;
}
#gc {
    color: darkgreen;
}
#gbr {
    color: blue;
}
#me {
    color: gray;
}
